.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.green-text {
    color: green;
}

.yellow-text {
    color: yellow;
}

.cyan-text {
    color: cyan;
}

.grey-text {
    color: grey;
}
