/* Academic-friendly width for dinky */
.wrapper {
  max-width: 1200px;
  padding: 0 2.5rem;
}

@media screen and (min-width: 1400px) {
  .wrapper {
    max-width: 1400px;
  }
}


img {
  max-width: 100%;
  height: auto;
}
